/* src/components/Projects.css */
.projects-section {
    width: 100%;
    height: 100vh;
    background-color: #28022c;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

.projects-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 0;
}

.star-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: white;
}

.projects-title {
    color: #b713ca;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espace entre les cartes */
    animation: fadeIn 0.5s ease-in-out;
    will-change: transform, opacity;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.project-card {
    background-color: #3a0b4e;
    padding: 20px;
    margin: 20px;
    border-radius: 12px; /* Coins arrondis */
    width: calc(33.333% - 40px); /* Largeur des cartes */
    max-width: 400px; /* Largeur maximale des cartes */
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out forwards, float 3s ease-in-out infinite;
    will-change: transform, opacity;
    cursor: pointer;
}

.project-card h4 {
    color: #b713ca;
    margin-top: 10px;
}

.project-card p {
    color: #fff;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; /* Espace entre l'image et le texte */
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@keyframes buttonHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.menu-button {
    background-color: #b713ca;
    color: white;
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0;
    border-left: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform, background-color, box-shadow;
}

.menu-button i {
    margin-right: 10px; /* Espace entre l'icône et le texte */
    color: white; /* Changez cette couleur selon vos besoins */
}

.menu-button:first-child {
    border-left: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.menu-button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menu-button:hover {
    background-color: #a10fb8;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: modalFadeIn 0.3s forwards;
}

.modal.fade-out {
    animation: modalFadeOut 0.3s forwards;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.pdf-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #b713ca;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.pdf-button:hover {
    background-color: #a10fb8;
}