body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Exemple de media queries pour les téléphones */
@media (max-width: 768px) {
  .navbar {
    height: 50px; /* Réduire la hauteur de la navbar */
    font-size: 0.8rem; /* Réduire la taille de la police de la navbar */
    text-align: center; /* Centrer le contenu de la navbar */
  }

  .home-content {
    padding: 20px;
    text-align: center;
    width: 100%; /* Assurer que la largeur est de 100% */
  }

  .title {
    font-size: 1.5rem;
  }

  .button-group a {
    display: block;
    margin: 10px 0;
    width: 100%; /* Assurer que la largeur est de 100% */
  }

  .social-buttons {
    justify-content: center;
    width: 100%; /* Assurer que la largeur est de 100% */
  }

  .sidebar {
    display: none; /* Masquer la sidebar sur les petits écrans */
  }

  .star-canvas {
    display: none; /* Masquer le canvas sur les petits écrans */
  }

  .home-item {
    margin-bottom: 20px;
    width: 100%; /* Assurer que la largeur est de 100% */
  }

  .animated-text {
    font-size: 1.2rem;
  }

  .contact-button {
    font-size: 1rem;
    padding: 10px 20px;
    width: 100%; /* Assurer que la largeur est de 100% */
  }

  .project-card {
    width: 100%; /* Assurer que les cartes de projet prennent toute la largeur */
    margin-bottom: 20px; /* Ajouter un espace entre les cartes */
  }

  .contact-form {
    width: 100%; /* Assurer que le formulaire de contact prend toute la largeur */
    margin-bottom: 20px; /* Ajouter un espace entre les éléments du formulaire */
  }
}

@import "leaflet/dist/leaflet.css";
@import "~@fortawesome/fontawesome-free/css/all.css";